<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject #4</div>
<span style="">MicroProject: Highest Mountains in the World</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/04-highest-mountain/">https://discovery.cs.illinois.edu/microproject/04-highest-mountain/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Wikipedia's "List of mountains by elevation"

Wikipedia is an absolutely amazing source of information about almost every topic you can imagine!  In this microproject, you will explore how to easily use data in Wikipedia tables as datasets.

The Wikipedia article "[List of mountains by elevation](https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)" (https://en.wikipedia.org/wiki/List_of_mountains_by_elevation) contains information on hundreds of mountains -- including Mount Everest (tallest in the world), Denali (tallest in the United States), and many more!
- Click the link above [(or right here)]((https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)" (https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)) to view how the Wikipedia page looks in your web browser!

### Using pandas `read_html` function

The `pd.read_html(...)` function in the pandas library is designed to read data from tables found in webpages.
- `read_html` is very similar to the more commonly used `read_csv`
- Instead of returning a DataFrame like `read_csv`, the `read_html` returns a **list of DataFrames** -- one DataFrame for each table!
- Just like `read_csv`, you only need to provide the URL of the data!

Import `pandas` and create a new variable called `pages` the reads in all of tables on the Wikipedia page  "[List of mountains by elevation](https://en.wikipedia.org/wiki/List_of_mountains_by_elevation)":

In [1]:
pages = ...
pages

[                          Mountain  Metres   Feet      Range  \
 0                    Mount Everest    8848  29029  Himalayas
 1                               K2    8612  28255  Karakoram
 2                    Kangchenjunga    8586  28169  Himalayas
 3                           Lhotse    8516  27940  Himalayas
 4                           Makalu    8485  27838  Himalayas
 5                          Cho Oyu    8188  26864  Himalayas
 6                       Dhaulagiri    8167  26795  Himalayas
 7                          Manaslu    8163  26781  Himalayas
 8                     Nanga Parbat    8126  26660  Himalayas
 9                        Annapurna    8091  26545  Himalayas
 10  Gasherbrum I (Hidden peak; K5)    8080  26509  Karakoram
 11                      Broad Peak    8051  26414  Karakoram
 12              Gasherbrum II (K4)    8035  26362  Karakoram
 13                    Shishapangma    8027  26335  Himalayas

                                    Location and Notes
 0                                         Nepal/China
 1                                      Pakistan/China
 2                                         Nepal/India
 3   Nepal ‚Äì¬†Climbers ascend Lhotse Face in climbin...
 4                                               Nepal
 5       Nepal ‚Äì¬†Considered "easiest" eight-thousander
 6     Nepal ‚Äì¬†Presumed world's highest from 1808-1838
 7                                               Nepal
 8                                            Pakistan
 9   Nepal ‚Äì¬†First eight-thousander to be climbed (...
 10               Pakistan/China ‚Äì¬†Originally named K5
 11                                     Pakistan/China
 12               Pakistan/China ‚Äì¬†Originally named K4
 13                                              China  ,
                Mountain  Metres   Feet       Range  \
 0        Gasherbrum III    7952  26089   Karakoram
 1         Gyachung Kang    7952  26089   Himalayas
 2          Annapurna II    7937  26040   Himalayas
 3    Gasherbrum IV (K3)    7932  26024   Karakoram
 4            Himalchuli    7893  25896   Himalayas
 ..                  ...     ...    ...         ...
 127           Shah Dhar    7038  23091  Hindu Kush
 128              Saipal    7031  23068   Himalayas
 129           Padmanabh    7030  23064   Himalayas
 130             Spantik    7027  23054   Karakoram
 131         Khan Tengri    7010  22999   Tian Shan

                                 Location and Notes
 0                                         Pakistan
 1                             Nepal (Khumbu)/China
 2                                            Nepal
 3                                         Pakistan
 4                                   Manaslu, Nepal
 ..                                             ...
 127                           Pakistan/Afghanistan
 128                                          Nepal
 129                                          India
 130                                       Pakistan
 131  Kyrgyzstan-Kazakhstan-China ‚Äì¬†#2 in Tian Shan

 [132 rows x 5 columns],
                          Mountain  Metres   Feet  \
 0                    Machapuchare    6993  22943
 1    Laila Peak (Haramosh Valley)    6985  22917
 2                       Kang Guru    6981  22904
 3                   Gasherbrum VI    6979  22897
 4                       Karun Kuh    6977  22890
 ..                            ...     ...    ...
 112                    Tocllaraju    6034  19797
 113                        Shayaz    6026  19770
 114                 Hualca Hualca    6025  19767
 115                      Uturunku    6020  19751
 116                    Mitre Peak    6010  19718

                                     Location and Notes
 0    Annapurna Himalaya, Nepal ‚Äì¬†Officially unclimb...
 1                                  Karakoram, Pakistan
 2    Manaslu Himalaya, Nepal ‚Äì¬†2005 avalanche kills 18
 3                                  Karakoram, Pakistan
 4                                  Karakoram, Pakistan
 ..                                                 ...
 112                                        Andes, Peru
 113                               Hindu Kush, Pakistan
 114                                        Andes, Peru
 115                                     Andes, Bolivia
 116                                Karakoram, Pakistan

 [117 rows x 4 columns],
         Mountain  Metres   Feet                  Range  \
 0     Laila Peak    5971  19590               Himalaya
 1    Mount Logan    5959  19551  Saint Elias Mountains
 2       Alpamayo    5947  19511                  Andes
 3    Cerro L√≠pez    5929  19452                  Andes
 4     Licancabur    5920  19423                  Andes
 ..           ...     ...    ...                    ...
 71         Janga    5051  16572     Caucasus Mountains
 72  Mount Kazbek    5047  16558     Caucasus Mountains
 73    Tungurahua    5023  16480                  Andes
 74  Carihuairazo    5018  16463                  Andes
 75    Mount Bona    5005  16421  Saint Elias Mountains

                                    Location and Notes
 0                                            Pakistan
 1                   Yukon, Canada ‚Äì¬†Highest in Canada
 2                                                Peru
 3                                             Bolivia
 4                                       Bolivia/Chile
 ..                                                ...
 71  Georgia / North Caucasus, Russia ‚Äì¬†Second high...
 72             Georgia ‚Äì¬†Third highest in the country
 73                           Ecuador ‚Äì¬†Active volcano
 74                                            Ecuador
 75       Alaska, US ‚Äì¬†Also given as 5,030 m or 5,045m

 [76 rows x 5 columns],
                  Mountain  Metres   Feet  \
 0         Mount Blackburn    4996  16391
 1            Pico Bol√≠var    4981  16342
 2             Talgar Peak    4979  16335
 3    Shota Rustaveli Peak    4960  16273
 4           Mount Sanford    4949  16237
 ..                    ...     ...    ...
 255         Twilight Peak    4010  13156
 256           Francs Peak    4009  13153
 257          Mount Lahili    4009  13153
 258          Mount Walter    4005  13140
 259           Les Droites    4000  13123

                                     Location and Notes
 0       Wrangell Mtns., Alaska, US (also given 5036 m)
 1    Sierra Nevada de M√©rida, Andes, Venezuela ‚Äì¬†Hi...
 2    Tian Shan, Kazakhstan ‚Äì¬†Highest in northern Ti...
 3    Caucasus Mountains, Svaneti, Georgia/North Cau...
 4                           Wrangell Mtns., Alaska, US
 ..                                                 ...
 255                   San Juan Mountains, Colorado, US
 256                        Absaroka Range, Wyoming, US
 257                    Svaneti Range, Svaneti, Georgia
 258                                     New Mexico, US
 259                          Mont Blanc massif, France

 [260 rows x 4 columns],
                 Mountain  Metres   Feet  \
 0               Piz Zup√≤    3995  13107
 1           Truchas Peak    3994  13104
 2            Fletschhorn    3993  13100
 3    Mount Albert Edward    3990  13091
 4               La Meije    3987  13081
 ..                   ...     ...    ...
 335        Tsiteli Khati    3026   9928
 336           Mount Tate    3015   9892
 337          Mount Tahat    3003   9852
 338              Sapitwa    3002   9849
 339         The Fortress    3000   9843

                          Location and Notes
 0                Bernina Range, Switzerland
 1    Sangre de Cristo Mountains, New Mexico
 2                 Pennine Alps, Switzerland
 3                          Papua New Guinea
 4                     Dauphin√© Alps, France
 ..                                      ...
 335                  Kharuli Range, Georgia
 336                   Hida Mountains, Japan
 337                       Algeria ‚Äì¬†Highest
 338                  Mulanje Massif, Malawi
 339                        Canadian Rockies

 [340 rows x 4 columns],
                  Mountain  Metres  Feet  \
 0    Tre Cime di Lavaredo  2999.0  9839
 1          Pizzo Centrale  2999.0  9839
 2        Cascade Mountain  2998.0  9836
 3                 Copahue  2997.0  9833
 4          Mount Girouard  2985.0  9793
 ..                    ...     ...   ...
 297       Alpe di Succiso  2017.0  6617
 298                   Kom  2016.0  6614
 299       Polar Bear Peak  2016.0  6614
 300          Mount Asgard  2015.0  6611
 301        Mount Le Conte  2010.0  6594

                              Location and Notes
 0                     Province of Belluno Italy
 1                                   Switzerland
 2    Vermillion Range, Canadian Rockies, Canada
 3                        Andes, Argentina/Chile
 4     Fairholme Range, Canadian Rockies, Canada
 ..                                          ...
 297             Province of Reggio Emilia Italy
 298                   Balkan Mountain, Bulgaria
 299               Chugach Mountains, Alaska, US
 300           Baffin Mountains, Nunavut, Canada
 301        Great Smoky Mountains, Tennessee, US

 [302 rows x 4 columns],
                  Mountain  Metres  Feet                     Location and Notes
 0        Serra da Estrela    1993  6539                               Portugal
 1            Mount Bogong    1986  6516        Australia ‚Äì¬†Highest in Victoria
 2         Mount Ishizuchi    1982  6503       Japan ‚Äì¬†Tallest in Western Japan
 3             Doi Phu Kha    1980  6496          Luang Prabang Range, Thailand
 4         Pizzo Carbonara    1979  6493             Province of Palermo Sicily
 ..                    ...     ...   ...                                    ...
 186  Buachaille Etive Mor    1022  3353                   Glen Etive, Scotland
 187             Munboksan    1015  3330                            South Korea
 188                 K√©kes    1014  3327  Hungary ‚Äì¬†Highest mountain in Hungary
 189         Mount Belumut    1010  3314                        Johor, Malaysia
 190      Old Rag Mountain    1001  3284                           Virginia, US

 [191 rows x 4 columns],
                Mountain  Metres  Feet                 Range  \
 0           Sgurr Dearg  986.00  3235               Cuillin
 1           Mount Sizer  980.00  3215          Diablo Range
 2           Mount Valin  980.00  3215  Saguenay Lac St-Jean
 3            Hyangnosan  979.00  3212                   NaN
 4          Scafell Pike  978.00  3209        Southern Fells
 ..                  ...     ...   ...                   ...
 133       Command Ridge   71.00   233                   NaN
 134    Mount Wycheproof   43.00   141                   NaN
 135        Hoge Blekker   35.00   115                   NaN
 136         Mount Tenp≈ç    4.53    15                   NaN
 137  Tianzhong Mountain    3.60    12                   NaN

                                     Location and Notes
 0                                             Scotland
 1                                      US (California)
 2                                      Canada (Qu√©bec)
 3                      Gyeongnam Province, South Korea
 4               England (Cumbria) ‚Äì¬†Highest in England
 ..                                                 ...
 133                              Nauru ‚Äì¬†Highest point
 134            Victoria, Australia ‚Äì¬†smallest mountain
 135  West Flanders, Belgium ‚Äì¬†Shortest mountain in ...
 136                                       Osaka, Japan
 137                              Henan Province, China

 [138 rows x 5 columns]]

### üî¨ Checkpoint Tests üî¨

In [2]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("pages" in vars())
assert(type(pages[0]) == type(pd.DataFrame()))
assert("Feet" in pages[0])
assert("Range" in pages[1])
assert("Mountain" in pages[2])
assert("Location and Notes" in pages[3])
assert("Metres" in pages[4])
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

<hr style="color: #DD3403;">

## Joining the individual DataFrames into one large DataFrame

Now that you have **ALL** of the tables in the `pages` variable, we want to convert this into one large DataFrame.  However, instead of having just one DataFrame, the webpage has different tables.

Let's explore the individual tables.  Using `pages[0]`, you can view the first table of data found on the Wikipedia page:

In [3]:
pages[0]

,Mountain,Metres,Feet,Range,Location and Notes
0,Mount Everest,8848,29029,Himalayas,Nepal/China
1,K2,8612,28255,Karakoram,Pakistan/China
2,Kangchenjunga,8586,28169,Himalayas,Nepal/India
3,Lhotse,8516,27940,Himalayas,Nepal ‚Äì¬†Climbers ascend Lhotse Face in climbin...
4,Makalu,8485,27838,Himalayas,Nepal
5,Cho Oyu,8188,26864,Himalayas,"Nepal ‚Äì¬†Considered ""easiest"" eight-thousander"
6,Dhaulagiri,8167,26795,Himalayas,Nepal ‚Äì¬†Presumed world's highest from 1808-1838
7,Manaslu,8163,26781,Himalayas,Nepal
8,Nanga Parbat,8126,26660,Himalayas,Pakistan
9,Annapurna,8091,26545,Himalayas,Nepal ‚Äì¬†First eight-thousander to be climbed (...
10,Gasherbrum I (Hidden peak; K5),8080,26509,Karakoram,Pakistan/China ‚Äì¬†Originally named K5
11,Broad Peak,8051,26414,Karakoram,Pakistan/China
12,Gasherbrum II (K4),8035,26362,Karakoram,Pakistan/China ‚Äì¬†Originally named K4
13,Shishapangma,8027,26335,Himalayas,China

Using `pages[1]`, you view the second table that was found:

In [4]:
pages[1]

,Mountain,Metres,Feet,Range,Location and Notes
0,Gasherbrum III,7952,26089,Karakoram,Pakistan
1,Gyachung Kang,7952,26089,Himalayas,Nepal (Khumbu)/China
2,Annapurna II,7937,26040,Himalayas,Nepal
3,Gasherbrum IV (K3),7932,26024,Karakoram,Pakistan
4,Himalchuli,7893,25896,Himalayas,"Manaslu, Nepal"
...,...,...,...,...,...
127,Shah Dhar,7038,23091,Hindu Kush,Pakistan/Afghanistan
128,Saipal,7031,23068,Himalayas,Nepal
129,Padmanabh,7030,23064,Himalayas,India
130,Spantik,7027,23054,Karakoram,Pakistan
131,Khan Tengri,7010,22999,Tian Shan,Kyrgyzstan-Kazakhstan-China ‚Äì¬†#2 in Tian Shan

### Finding the Last DataFrame

Continue to look at the tables the Wikipedia page contains.  Find out the **last index** of `pages` that contains data amount the mountains:

In [5]:
...

Ellipsis

### Combining the DataFrames Together

Before we can do analysis on the whole dataset, we need to join the individual tables together.  When we join DataFrames end-to-end, where the last row of the previous DataFrame is followed by the first row of the next DataFrame, the operation is called concatenation.

Read the DISCOVERY guide to learn the syntax on "Combining DataFrames by Concatenation"
- [Guide: "Combining DataFrames by Concatenation"](https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/) (https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/)

Use concatenation to create a single DataFrame `df` that contains data amount every mountain found on the Wikipedia page:

In [6]:
df = ...
df

,Mountain,Metres,Feet,Range,Location and Notes
0,Mount Everest,8848.00,29029,Himalayas,Nepal/China
1,K2,8612.00,28255,Karakoram,Pakistan/China
2,Kangchenjunga,8586.00,28169,Himalayas,Nepal/India
3,Lhotse,8516.00,27940,Himalayas,Nepal ‚Äì¬†Climbers ascend Lhotse Face in climbin...
4,Makalu,8485.00,27838,Himalayas,Nepal
...,...,...,...,...,...
133,Command Ridge,71.00,233,NaN,Nauru ‚Äì¬†Highest point
134,Mount Wycheproof,43.00,141,NaN,"Victoria, Australia ‚Äì¬†smallest mountain"
135,Hoge Blekker,35.00,115,NaN,"West Flanders, Belgium ‚Äì¬†Shortest mountain in ..."
136,Mount Tenp≈ç,4.53,15,NaN,"Osaka, Japan"
137,Tianzhong Mountain,3.60,12,NaN,"Henan Province, China"

### üî¨ Checkpoint Tests üî¨

In [7]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert(len(df) > len(pages[0]))
assert("Feet" in df)
assert("Mountain" in df)
assert(len(df[df.Feet > 26000]) > 0)
assert(len(df[df.Feet < 2000]) > 0)
assert(len(df[ (df.Feet < 26000) & (df.Feet > 22000) ]) > 0)
assert(len(df[ (df.Feet < 22000) & (df.Feet > 18000) ]) > 0)
assert(len(df[ (df.Feet < 18000) & (df.Feet > 14000) ]) > 0)
assert(len(df[ (df.Feet < 14000) & (df.Feet > 10000) ]) > 0)
assert(len(df[ (df.Feet < 10000) & (df.Feet > 6000) ]) > 0)
assert(len(df[ (df.Feet < 6000) & (df.Feet > 2000) ]) > 0)
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

<hr style="color: #DD3403;">

## Mountains in the United States

Now that we have every mountain in a single DataFrame, we can do some analysis!  In the dataset, the `Location and Notes` column contains a human-written description of the location and other notes.

Create a DataFrame called `df_us` that contains all of the mountains in the United States.

- You will need to look back at the [Wikipedia page]((https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/)), or explore `df` here in Python, to find out all the different ways mountains in the United States might be labeled.  *(Hint: There's two different ways!)*

In [8]:
df_us = ...
df_us

,Mountain,Metres,Feet,Range,Location and Notes
97,Denali (Mount McKinley),6168.0,20236,NaN,"Alaska Range, United States (Alaska) ‚Äì¬†Highest..."
30,Mount Saint Elias,5489.0,18009,Saint Elias Mountains,"Yukon, Canada/Alaska, US ‚Äì¬†Second highest in b..."
47,Mount Foraker,5304.0,17402,Alaska Range,"Alaska, US"
75,Mount Bona,5005.0,16421,Saint Elias Mountains,"Alaska, US ‚Äì¬†Also given as 5,030 m or 5,045m"
0,Mount Blackburn,4996.0,16391,NaN,"Wrangell Mtns., Alaska, US (also given 5036 m)"
...,...,...,...,...,...
101,Storm King Mountain,408.0,1339,Hudson Highlands,US (New York)
119,Jerimoth Hill,247.0,810,NaN,"Rhode Island, US"
121,Diamond Head,232.0,761,NaN,US (Hawaii)
124,Great Blue Hill,193.5,635,NaN,"Massachusetts, US"
131,Britton Hill,105.0,344,NaN,"Florida, US ‚Äì¬†The lowest high point of any U.S..."

### Analysis: Percentage of Mountains in the Dataset in the United States?

What percentage of mountains in the entire dataset is found in the United States?

In [9]:
pct_us = ...
pct_us

0.19936305732484078

### üî¨ Checkpoint Tests üî¨

In [10]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df_us" in vars())
assert(len(df_us) > 300)
assert(len(df_us[ df_us.Mountain.str.contains("Mount Saint Elias")]) == 1)
assert(len(df_us[ df_us.Mountain.str.contains("Denali")]) == 1)

assert("pct_us" in vars())
assert(pct_us == len(df_us) / len(df))

print(f"{tada} DataFrame Analysis: All Tests Passed! {tada}")

üéâ DataFrame Analysis: All Tests Passed! üéâ

<hr style="color: #DD3403;">

## üî¨ Microproject - All Checkpoint üî¨

The final check is that you pass all the tests, all at once!

In [11]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("pages" in vars())
assert(type(pages[0]) == type(pd.DataFrame()))
assert("Feet" in pages[0])
assert("Range" in pages[1])
assert("Mountain" in pages[2])
assert("Location and Notes" in pages[3])
assert("Metres" in pages[4])

assert("df" in vars())
assert(len(df) > len(pages[0]))
assert("Feet" in df)
assert("Mountain" in df)
assert(len(df[df.Feet > 26000]) > 0)
assert(len(df[df.Feet < 2000]) > 0)
assert(len(df[ (df.Feet < 26000) & (df.Feet > 22000) ]) > 0)
assert(len(df[ (df.Feet < 22000) & (df.Feet > 18000) ]) > 0)
assert(len(df[ (df.Feet < 18000) & (df.Feet > 14000) ]) > 0)
assert(len(df[ (df.Feet < 14000) & (df.Feet > 10000) ]) > 0)
assert(len(df[ (df.Feet < 10000) & (df.Feet > 6000) ]) > 0)
assert(len(df[ (df.Feet < 6000) & (df.Feet > 2000) ]) > 0)

assert("df_us" in vars())
assert(len(df_us) > 300)
assert(len(df_us[ df_us.Mountain.str.contains("Mount Saint Elias")]) == 1)
assert(len(df_us[ df_us.Mountain.str.contains("Denali")]) == 1)

assert("pct_us" in vars())
assert(pct_us == len(df_us) / len(df))

print(f"{tada}{tada} All Tests Passed! {tada}{tada}")

üéâüéâ All Tests Passed! üéâüéâ

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject on GitHub!